<header>
    <div class="header">
        <div class="pull-left">
            <h2 class="name-title"><i class="fa fa-code"></i> Joel Milligan</h2>
        </div>
        <div class="pull-right">
            <ul class="social-nav">
                <li title="Linkedin">
                    <a href="https://www.linkedin.com/in/joel-milligan-60b1a2a0" target="_blank">
                        <h1><i class="fa fa-linkedin-square"></i></h1>
                    </a>
                </li>
                <li title="Github">
                    <a href="https://github.com/joelsalt" target="_blank">
                        <h1><i class="fa fa-github-square"></i></h1>
                    </a>
                </li>
                <li title="Instagram">
                    <a href="https://www.instagram.com/joel_salt/?hl=en" target="_blank">
                        <h1><i class="fa fa-instagram"></i></h1>
                    </a>
                </li>
                <li title="Steam">
                    <a href="http://steamcommunity.com/id/joelsalt/" target="_blank">
                        <h1><i class="fa fa-steam-square"></i></h1>
                    </a>
                </li>
                <li title="Youtube">
                    <a href="https://www.youtube.com/channel/UCryImtrPcA7--2qVS0XDRIA" target="_blank">
                        <h1><i class="fa fa-youtube-square"></i></h1>
                    </a>
                </li>
                <li title="Sound Cloud">
                    <a href="https://soundcloud.com/joel-milligan-941187332" target="_blank">
                        <h2><i class="fa fa-soundcloud"></i></h2>
                    </a>
                </li>
                <li title="Bandcamp">
                    <a href="https://joelmilligan.bandcamp.com/" target="_blank">
                        <h2><i class="fa fa-bandcamp"></i></h2>
                    </a>
                </li>
            </ul>

            <div class="dropdown pull-right mobile-social-nav">
                <button class="" data-toggle="dropdown">
                    SOCIAL<span class="fa fa-caret-down"></span>
                </button>
                <ul class="dropdown-menu">
                    <li title="Linkedin">
                        <a href="https://www.linkedin.com/in/joel-milligan-60b1a2a0" target="_blank">
                            <h1><i class="fa fa-linkedin-square"></i></h1>
                        </a>
                    </li>
                    <li title="Github">
                        <a href="https://github.com/joelsalt" target="_blank">
                            <h1><i class="fa fa-github-square"></i></h1>
                        </a>
                    </li>
                    <li title="Instagram">
                        <a href="https://www.instagram.com/joel_salt/?hl=en" target="_blank">
                            <h1><i class="fa fa-instagram"></i></h1>
                        </a>
                    </li>
                    <li title="Steam">
                        <a href="http://steamcommunity.com/id/joelsalt/" target="_blank">
                            <h1><i class="fa fa-steam-square"></i></h1>
                        </a>
                    </li>
                    <li title="Youtube">
                        <a href="https://www.youtube.com/channel/UCryImtrPcA7--2qVS0XDRIA" target="_blank">
                            <h1><i class="fa fa-youtube-square"></i></h1>
                        </a>
                    </li>
                    <li title="Sound Cloud">
                        <a href="https://soundcloud.com/joel-milligan-941187332" target="_blank">
                            <h2><i class="fa fa-soundcloud"></i></h2>
                        </a>
                    </li>
                    <li title="Bandcamp">
                        <a href="https://joelmilligan.bandcamp.com/" target="_blank">
                            <h2><i class="fa fa-bandcamp"></i></h2>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>