<div class="main-body">
    <div class="main-icon">
        <div id="change-icon" (click)="setIcon()">
            <i class="fa fa-spin"></i>
        </div>
        <h1>Joel Milligan</h1>
        <small>Developer Extrordinare</small>
        <p class="instructions">(<span class="desktop">Click</span><span class="mobile">Tap</span> the icon to change it!)</p>
    </div>

    <div id="about">
        <h1>About</h1>
        <p>I am a developer, musician, and traveler who has recently completed my Associate's Degree. In my spare time I play piano, plan trips with friends, or consult on new ideas and businesses.</p>
        <p>Check out my social media accounts to learn more about me and what I like to do for fun. Or check out some of my music on my <a href="https://joelmilligan.bandcamp.com/">bandcamp</a>.</p>
    </div>

    <div id="tech">
        <h1>Technologies Learned</h1>
        <p></p>
        <div class="row">
            <div class="col-sm-4">
                <a href="https://angular.io/" target="_blank">
                    <div class="tech-column">
                        <img id="angular" src="app/assets/img/angular.svg" />
                        <h2>Angular.io</h2>
                        <span>1.6 - 4.2</span>
                        <p>Angular is an amazing MVC framework. This website is even written in it!</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="https://docs.microsoft.com/en-us/dotnet/csharp/csharp" target="_blank">
                    <div class="tech-column">
                        <img id="csharp" src="app/assets/img/csharp.png" />
                        <h2>C#</h2>
                        <span>7.0</span>
                        <p>ECMA and ISO standardised development language</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="https://www.python.org/" target="_blank">
                    <div class="tech-column">
                        <img id="python" src="app/assets/img/python.png" />
                        <h2>Python</h2>
                        <span>2.7 - 3.3+</span>
                        <p>Python was the first language I ever learned and also the first I used professionally.</p>
                    </div>
                </a>
            </div>
        </div>
        <br />
        <button class="button" type="button" data-toggle="collapse" data-target="#experience">Other Experience <i class="fa fa-caret-down"></i></button>
        <br />
        <div id="experience" class="collapse">
            <div class="row">
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%;">
                            Javascript - 3 Years
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            HTML - 4 Years
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            CSS - 4 Years
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            jQuery - 2 Years
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            Node.js - 2 Years
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100" style="width: 63%;">
                            Typescript - 1 Year
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            Java - 4 Years
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            Python - 4 Years
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            Angular - 2 Years
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            Bootstrap - 2 Years
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            PHP - 2 Years
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            Kivy - 2 Years
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            C# - 4 Years
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            Unity - 4 Years
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            Google APIs - 2 Years
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="music">
        <h1>Music</h1>
        <p>As a musician of seven years, my main focus is piano. However, I have taught myself a few other instruments along the way.</p>
        <p>Guitar, Ukulele, and Violin are my personal favorites. If you'd like to hear me play, check out my <a href="https://www.instagram.com/joel_salt/?hl=en" target="_blank">Instagram</a>, or have a listen to my albums/songs below.</p>
        <div class="row">
            <div class="col-sm-4">
                <h3 class="text-center">Tales</h3>
                <a href="https://www.youtube.com/watch?v=cn_HLWc3fVA&t=215s" target="_blank">
                    <div class="music-column">
                        <img src="app/assets/img/albumart.png" />
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <h3 class="text-center">Wander</h3>
                <a href="https://www.youtube.com/playlist?list=PLWlfMV0HYSFFDzeQuyXeLP7UIYPgELZc9" target="_blank">
                    <div class="music-column">
                        <img src="app/assets/img/wander.png" />
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <h3 class="text-center">Murder! & The Bystanders</h3>
                <a href="https://www.youtube.com/watch?v=CSGx-27Z6ns" target="_blank">
                    <div class="music-column">
                        <img src="app/assets/img/M&TB.png" />
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div id="travels">
        <h1>Travels</h1>
        <p>I try to go to as many unique places as possible. What a lot of people don't understand, however, is that good budgeting is a hige part of being able to travel. So whenever I can, I try to help friends budget and plan out their trips. I've even done a few paid travel consultations to date.</p>
        <p>The map below shows all the places I've been to so far.</p>
        <iframe src="https://www.google.com/maps/d/embed?mid=12hLtD8WSzyp3-DdfqcyKmKAnBNo" width="100%" height="480"></iframe>
    </div>

    <div id="contact">
        <h1>Get in Contact</h1>
        <p>Interested in collaborating on something? Pipe me a message or contact me via social media.</p>
        <contact-form></contact-form>
    </div>

</div>